.card {
  border: none;
}
.card-body {
  margin-bottom: -5px;
  padding-bottom: 10px;
}
.card-title {
  font-weight: bold;
  min-height: 35px;
  font-size: 13px;
   margin-bottom: 0px;
}
.card-text {
  color: grey;
  font-size: 12px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.card-footer {
  font-size: 13px;
  padding-top: 0;
  margin-top: 0;
  border: none;
  background-color: transparent;
}
.price {
  font-weight: bold;
}
.card-img-top {
  aspect-ratio: 2 / 3;
  border-radius: 0;
   transition: 0.3s;
}
.card-img-top:hover {
    transform: scale(102%);
}